<div class="container">
  <div class="green white-text card-panel" *ngIf="serverSuccessMessage">
    successfully transfered
  </div>
  <div class="red white-text card-panel" *ngIf="serverErrorMessages">
    {{ serverErrorMessages }}
  </div>
  <div class="card-panel">
    <form #transferForm="ngForm" class="useForm" (ngSubmit)="transferForm.valid && onSubmit(transferForm)">
      <h3>Transfer</h3>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" name="email" type="email" #email="ngModel" 
          [(ngModel)]="model.email" placeholder="receiver email address" required>
        </div>
        <div *ngIf="transferForm.submitted && !email.valid" class="validation-message red-text center">
          <label class="red-text center">Enter email</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">attach_money</i>
          <input id="icon_prefix" name="balance" type="Number" #balance="ngModel" 
          [(ngModel)]="model.balance" placeholder="amount" required>
        </div>
        <div *ngIf="transferForm.submitted && !balance.valid" class="validation-message red-text center">
          <label class="red-text center">Enter Ammount</label>
        </div>
        <div>
          <button type="submit" class="btn waves-effect purple darken-3">Transfer</button>
        </div>
      </div>
    </form>
  </div>
  </div>  
